{% load static %}
<!-- Footer Start -->
<footer id="footer" class="footer-style-">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
                    <div class="">
                        <div class="container">
                            <div class="row">
                              <div class="col-sm">
                                <ul>
                                    <li><a href="https://tested-ink-803.notion.site/About-Us-3dc068c44b5347c2b8a992d4cc871559">ABOUT</li>
                                    <li><a href="https://tested-ink-803.notion.site/INTRODUCTION-TO-TERMS-AND-CONDITIONS-c6b22420c3fe4f95a80e2d4dd0c7a362">TERMS AND CONDITIONS</a></li>
                                    <li><a href="https://tested-ink-803.notion.site/No-Opening-b28db3e2012f494683de1c3a4c0c276b">CAREER</a></li>
                            
                                  </ul>
                              </div>
                              <div class="col-sm">
                                
                              </div>
                              <div class="col-sm">
                                
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright-inner">
                        <div class="copy-right">
                            <p>© 2020 gohardware.in. All Rights Reserved.  <a href="#">infrablue.in</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.cs-copyright -->
</footer>
<!-- Footer End -->
</div>

	
	<!-- Modal Popup End -->
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
</body>

</html>