<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
    
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">

                  {% if user.is_authenticated %}
               

                  <li>
                      <a href="javascript:{document.getElementById('logout').submit()}" class="sign-in"><i class="fa fa-sign-out"></i> Logout</a>
                      <form action="{% url 'logout' %}" id="logout" method="POST">
                        {% csrf_token %}
                        <input type="hidden">
                      </form>
                  </li>
                  {% else %}
                  
                  {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->