{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Main Section Start -->


   <!--end-->

	<div class="" class=" bg-primary text-white"  style="padding-top: 30px; padding-bottom: 20px; background-color: rgb(255, 255, 255);  margin-bottom: 0px;   no-repeat center / cover; background-image: url('')">
		<div class="d-none d-lg-block">

        <div class="">
			<div class="swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio " data-slider-nav-autoplay-interval="2000">
			<div class="slider-container">
				<div class="px-12"><img class="card-img-top " src="https://i.postimg.cc/MTr1vGz4/N12.png" alt="Card image cap"></div>
				<div>	<img class="card-img-top" src="https://i.postimg.cc/wMN5ZsNz/N22.png" alt="Card image cap">
				</div>
				<div><img class="card-img-top" src="https://i.postimg.cc/gJdL33gx/MATERIAL-SHOPmmm.png" alt="Card image cap"></div>
				 
				<div><img class="card-img-top " src="https://i.postimg.cc/3x3RB8Zf/eer.png" alt="Card image cap"></div>
				<div>	<img class="card-img-top" src="https://i.postimg.cc/kXXKvHWJ/12345699787.png" alt="Card image cap">
				</div>
				<div><img class="card-img-top" src="https://i.postimg.cc/fR6hv6t1/koko.png" alt="Card image cap"></div>
				
				<div><img class="card-img-top " src="https://i.postimg.cc/7hGcp3Ls/MATERIAL-SHOPfgfgf.png" alt="Card image cap"></div>
				<div>	<img class="card-img-top" src="https://i.postimg.cc/BQ0S3bxY/mkomkk.png" alt="Card image cap">
				</div>
				
				
			</div>
		
			<button type="button" class="slider-nav" aria-label="Go left"></button>
			<button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
		
		</div>
	</div>
	</div>
		<!--small-->
        
<div class="container d-block d-md-none" >

<!-- Flickity HTML init -->
<div   data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
 
  <div class="carousel-cell px-1">

	<a href="https://gohardware.in/cars/carsearch?model=TataAce+-+chota+hathi" class="light-logo">
					
		<img
		height="95px"
		src="https://i.postimg.cc/XJ79cDYG/mko.png"
		alt="First slide"
	  />  
  </div>
  <div class="carousel-cell">
	<a href="https://gohardware.in/homeworker/" class="light-logo">
					
		<img
		height="95px"
		src="https://i.postimg.cc/wjBLLNt0/EE.png"
		alt="First slide"
	  />  
 </a>
  </div>
  <div class="carousel-cell px-1">
	<a href="https://gohardware.in/homeworker/" class="light-logo">
					
		<img
		height="95px"
		src="https://i.postimg.cc/8zJZ0dr3/uo.png"
		alt="First slide"
	  />  
	  </a>
  </div>
  <div class="carousel-cell ">
	<a href="https://gohardware.in/cars/carsearch?model=Painter" class="light-logo">
					
		<img
		height="95px"
		src="https://i.postimg.cc/prJYfgDK/lplolp.png"
		alt="First slide"
	  />  
	  </a>
  </div>
  <div class="carousel-cell px-1">
	<a href="https://gohardware.in/cars/carsearch?model=Architect" class="light-logo">
					
		<img
		height="95px"
		src="https://i.postimg.cc/65KqWv8L/jjbvghj.png"
		alt="First slide"
	  />  
	  </a>
  </div>
  <div class="carousel-cell px-1">
	<a href="https://gohardware.in/cars/carsearch?model=labour" class="light-logo">
					
		<img
		height="95px"
		src="https://i.postimg.cc/ZKZWBwVF/HOME-SERVICEqasdxccccc.png"
		alt="First slide"
	  />  
	  </a>
  </div>
  <div class="carousel-cell px-1">
	<a href="https://gohardware.in/homeworker/" class="light-logo">
					
		<img
		height="95px"
		src="https://i.postimg.cc/HsPWTmvK/momo.png"
		alt="First slide"
	  />  
	  </a>
  </div>
</div>
</div>
			  
		
		<br>

<!--small -->

       <div class="d-md-none">
		<div class="element-title d-md-none" >
			<div class="text-center">
			<a href="https://wa.me/7004197301">
				<img class=" " src="https://i.postimg.cc/XJTjh2kq/MATERIAL-SHOPbbbbb-1.png"  style="width: 18rem;" alt="Card image cap">
				   </a>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	    	<div class="swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio " data-slider-nav-autoplay-interval="2000">
				<div class="slider-container">
					<div class=""><img class="card-img-top " src="https://i.postimg.cc/MTr1vGz4/N12.png" alt="Card image cap"></div>
					<div>	<img class="card-img-top" src="https://i.postimg.cc/wMN5ZsNz/N22.png" alt="Card image cap">
					</div>
					<div><img class="card-img-top" src="https://i.postimg.cc/gJdL33gx/MATERIAL-SHOPmmm.png" alt="Card image cap"></div>
					 
					<div><img class="card-img-top " src="https://i.postimg.cc/3x3RB8Zf/eer.png" alt="Card image cap"></div>
					<div>	<img class="card-img-top" src="https://i.postimg.cc/NFyXm4sx/12345699787-1-1.png" alt="Card image cap">
					</div>
					<div><img class="card-img-top" src="https://i.postimg.cc/9f60shCy/koko-1.png" alt="Card image cap"></div>
					
					<div><img class="card-img-top " src="https://i.postimg.cc/G24t5mWL/MATERIAL-SHOPfgfgf-2.png" alt="Card image cap"></div>
					<div>	<img class="card-img-top" src="https://i.postimg.cc/C1JykGPd/mkomkk-1.png" alt="Card image cap">
					</div>
				</div>
			</div>
        </div>
	</div>
  


		<div class="container">
			<div class="row ">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
					<div class="element-title d-none d-lg-block" >
						<div class="" style="width: 26rem;">
						<img class="card-img-top" src="https://imgur.com/veSF50u.png" alt="Card image cap">
					</div>
							<div style="width: 20rem;">
								<img class="card-img-top" src="https://imgur.com/czb8BVg.png" alt="Card image cap"></div>
					</div>
				</div>


				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
					<div class="d-none d-lg-block">
					<a href="https://wa.me/7004197301">
                         
					<img class=" " src="https://i.postimg.cc/3Ntdx87Y/MATERIAL-SHOPabhishek-1.png"  style="width: 18rem;" alt="Card image cap">
           		    </a>
					</div>
				</div>

					<div class="element-title d-md-none" >
				
						<div class="" style="width: 20rem;">
							<img class="card-img-top" src="https://imgur.com/veSF50u.png" alt="Card image cap">
						</div>
						<div style="width: 18rem;">
							<img class="card-img-top" src="https://imgur.com/czb8BVg.png" alt="Card image cap"></div>
					</div>

                   
				</div>
			    
				
				

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="main-search fancy ">
						<form action="{% url 'search' %}" method="GET">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
									<div class="field-holder shadow-lg shadow-blue-500/50 ">
										<input type="text" name="keyword" placeholder="Shop name or Item name">
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
									<div class="field-holder shadow-lg shadow-blue-500/50 ">
										<ul>
											<li class="select-location">
												<div class="foodbakery-locations-fields-group foodbakery-focus-out">
													<span class="foodbakery-search-location-icon"><i class="icon-location"></i></span>
													
													<input type="text" name="address" class="location-field-text filter" id="id_address" required placeholder="All Locations">
													<input type="hidden" name="lat" value="" id="id_latitude">
													<input type="hidden" name="lng" value="" id="id_longitude">
												</div>
												
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
									<select name="radius" id="radius" style="height: 50px;" class="shadow-lg shadow-blue-500/50 " required>
										<option value="" selected>Choose Radius</option>
										<option value="5">5km</option>
										<option value="10">10km</option>
										<option value="15">15km</option>
										<option value="25">25km</option>
										<option value="50">50km</option>
										<option value="75">75km</option>
										<option value="100">100km</option>
									</select>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
									<div class="field-holder">
										<input type="submit" value="Search" class="btn btn-primary">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
		<div class="d-none d-md-block">
		<div class="row justify-content-center">
			<div class="row">
				<div class="col">
					<a href="{% url 'homeworker' %}" class="light-logo">
					    <div style="width: 6rem;">
							
							<img class="card-img-top " src="https://imgur.com/4WRK9aB.png" alt="Card image cap">
							
						
						</div>
					</a>
				</div>
				<div class="col">
					<a href="https://gohardware.in/cars/carsearch?model=Architect" class="light-logo">
						<div style="width: 6rem;">
							
							<img class="card-img-top " src="https://i.postimg.cc/SxptgkN0/HOME-removebg-preview.png" alt="Card image cap">
					
						
						</div>
					</a>
				</div>
				<div class="col">
					<a href="https://gohardware.in/cars/carsearch?model=TataAce+-+chota+hathi" class="light-logo">
						<div style="width: 6rem;">
							
							<img class="card-img-top " src="https://i.postimg.cc/28xRQSW9/bbbb.png" alt="Card image cap">
					
						
						</div>
					</a>
				</div>
			
				<div class="col">
					<a href="{% url 'homeworker' %}" class="light-logo">
						<div style="width: 6rem;">
							
							<img class="card-img-top " src="https://i.postimg.cc/VkHZmmsV/HOMEnnn-removebg-preview.png" alt="Card image cap">
					
						
						</div>
					</a>
				</div>
				<div class="col">
	
					<a href="https://gohardware.in/cars/carsearch?model=labour" class="light-logo">
						<div style="width: 6rem;">
							
							<img class="card-img-top " src="https://i.postimg.cc/t4rwJFkD/njnjn-removebg-preview.png" alt="Card image cap">
							
						
						
						</div>
					</a>
				</div>
				<div class="col">
					<a href="{% url 'homeworker' %}" class="light-logo">
						<div style="width: 6rem;">
							
							<img class="card-img-top " src="https://i.postimg.cc/zX2FRpmL/mmm-removebg-preview.png" alt="Card image cap">
							
						
						</div>
					</a>
				</div>

			  </div>

		</div>
				<div class="px-1">
					<div class="modal" tabindex="-1">
						<div class="modal-dialog">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title">Modal title</h5>
							  <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
							  <p>Modal body text goes here.</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Close</button>
							  <button type="button" class="btn btn-primary">Save changes</button>
							</div>
						  </div>
						</div>
					  </div>
				</div>
	</div>
<!--small-->





	</div>
	<!-- Main Search End -->

	<!-- Top Restarurants Section Start -->
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 0px;margin-bottom: 0px;background: #ffffff;">
		<div class="container">

			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="element-title align-left">
						<h2>Top shop</h2>
						<p>Explore Hardware And BUilding Material shop  by locality</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0 !important; padding-left: 0 !important;">
					<div class="company-logo">
						<ul>
							{% for vendor in vendors %}
							<li class="has-border">
								<figure>
									{% if vendor.user_profile.profile_picture %}
									<a href="{% url 'vendor_detail' vendor.vendor_slug %}"><img src="{{ vendor.user_profile.profile_picture.url }}" height="125" class="attachment-full size-full wp-post-image" alt=""></a>
									{% else %}
									<a href="{% url 'vendor_detail' vendor.vendor_slug %}"><img src="{% static 'images/default-profile.png' %}" height="125" class="attachment-full size-full wp-post-image" alt=""></a>
									{% endif %}
								</figure>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Top Restarurants Section End -->
	<!-- Choose From Most Popular Listin Start -->
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 50px;margin-bottom: 0px;background: #ffffff;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="element-title align-center">
						<h2>Choose From Most Popular Shop</h2>
						<p>Hardware Shop  Building Material Shop</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="listing fancy">
						<ul class="row">
							{% for vendor in vendors %}
							<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="list-post featured">
									<div class="img-holder">
										<figure>
											<a href="{% url 'vendor_detail' vendor.vendor_slug %}">
												{% if vendor.user_profile.profile_picture %}
												<img src="{{ vendor.user_profile.profile_picture.url }}" class="img-thumb wp-post-image" alt="">
												{% else %}
												<img src="{% static 'images/default-profile.png' %}" class="img-thumb wp-post-image" alt="">
												{% endif %}
											</a>
										</figure>
										{% if vendor.is_open %}
										<span class="restaurant-status open">
											<em class="bookmarkRibbon"></em>Open
										</span>
										{% else %}
										<span class="restaurant-status close">
											<em class="bookmarkRibbon"></em>Close
										</span>
										{% endif %}

									</div>
									<div class="text-holder">
										
										<div class="post-title">
											<h5>
												<a href="{% url 'vendor_detail' vendor.vendor_slug %}">{{ vendor }}</a>
											</h5>
										</div>
										{% if vendor.user_profile.city and vendor.user_profile.state and vendor.user_profile.pin_code %}
										<span>{{ vendor.user_profile.city }}, {{ vendor.user_profile.state }}, {{ vendor.user_profile.pin_code }}</span>
										{% endif %}

										{% if vendor.kms %}
											<br>
											<span><small><b>{{vendor.kms}} km </b>away</small></span>
										{% endif %}
									</div>
									<div class="list-option">
										<a href="javascript:void(0);" class="shortlist-btn" data-toggle="modal" data-target="#sign-in">
											<i class="icon-heart-o"></i>
										</a>
									</div>
								</div>
							</li>
							{% endfor %}
							
							

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Choose From Most Popular Listing End -->

	<!-- Home Pages Elements End  -->
</div>
<!-- Main Section End -->
{% endblock %}